.back{

    background-color: #508bfc;
        padding: 50px !important;

}

.btn{
    background-color: #376BC0;
    color: white;
  
}
.btn2{
    color: aliceblue;
    background-color: #376BC0;
    width: 200px;
    border: none;
    height: 50px;
    outline: none;
    border-radius: 5px;
}
.btn1{
    
    color: rgb(0, 0, 0);
    font-size: large;
    
}